/* Base styles */
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 8px;
  border: 1px solid #ddd;
}

th {
  background-color: #4CAF50;
  color: white;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  /* Styles for screens that are 768px wide or less */

  table {
    display: block;
    overflow-x: auto;
  }

  th,
  td {
    white-space: nowrap;
    font-size: 14px;
  }

  th {
    position: sticky;
    top: 0;
  }

  .class-cell {
    padding: 10px;
    font-size: 12px;
  }
}

@media screen and (max-width: 480px) {

  /* Styles for screens that are 480px wide or less */
  th,
  td {
    padding: 6px;
    font-size: 12px;
  }
}

.navigation-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
/* Timetable and day header styles */
.timetable-container {
  margin-top: 20px;
}

.day-card-container > h3 {
  background-color: #007bff; 
  color: white;
  padding: 10px 15px;
  margin-top: 20px;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

/* Card styles */
.card {
  margin-bottom: 10px;
  padding: 20px;
  background-color: #fafafa; 
  border-left: 5px solid #007bff; 
  border-radius: 0.25rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

.card-title {
  font-size: 1.25rem;
  font-weight: 500;
  color: #333; 
}

.card-text {
  font-size: 1rem;
  color: #555; 
}

/* Hover effect */
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* Active card style */
.card.active {
  background-color: #e7f5ff; 
  border-left-color: #0056b3; 
}

/* Style for 'No classes' */
.no-classes {
  text-align: center;
  padding: 20px;
  color: #888;
  background-color: #efefef;
  border-radius: 0.25rem;
}
